* {
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	background-image: url("Pictures/depart-natation.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%; 	
	height: 100%;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0px;
    z-index: -1;
  }

.body {
	background-color: rgba(95,93,93,0.9);
	width: 100%; 	
	height: 100%;
}

header {
	color: white;
	width: 100%;
	height: 80px;
}

#LogoContainer {
	height: 80px;
    padding: 10px;
    width: fit-content;
    float: left;
}

#LogoTextContainer {
	height: 80px;
    width: fit-content;
    font-size: 35px;
    float: left;
    padding: 20px 0px 20px 0px;
    font-weight: 900;
}

#LogoTTM {
	width: 60px;
	height: 60px;
	z-index: 1;
}

#content {
	position: relative;
	top: 10%;
	max-width: 50%;
	height: 60%;
	margin: auto;
	background: white;
	text-align: center;
	z-index: 1;
	border-radius: 10px;
}

#aside {
	float: left;
	width: 40%;
	height: 100%;
	background-image: url("Pictures/TTM_nat.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}

#title_aside {
	text-align: left;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: lighter;
    width: 60%;
    display: none;
}
  
#main {
	float:right;
	width: 60%;
	height: 100%;
}

form {
	position: absolute;
    top: 25%;
    width: inherit;
    height: fit-content;
}

#title {
	font-family: 'Montserrat',Helvetica,Arial,Verdana,sans-serif;
	font-size: 21px;
}

#connexion {
	display: ;
	-webkit-transition: width 2s;
	transition: width 2s;
}

#connexion > label {
	display: block;
	width: 40%;
	color: #b2b2b2;
	text-align: left;
	margin-left: 15%;
}

#connexion > input[type="email"] {
	padding: 8px;
	width: 70%;
	border: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
}

#connexion > input[type="password"] {
	padding: 8px;
	width: 70%;
	border: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
}


#connexion > input[type="submit"] {
	padding: 8px;
	width: 70%;
    border-radius: 4px;
    background-color: #0080ff;
    border: none;
    height: 40px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#connexion > input[type="submit"]:hover {
    background-color: #006fdd;
}

#connexion > a {
	font-size: 10px;
}

#btnInscription {
	display: none;
}

#no-account {
	font-size: 10px;
}

#b_co_inscription {
	padding: 8px;
	width: 70%;
    border-radius: 4px;
    background-color: #0080ff;
    border: none;
    height: 40px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#b_co_inscription:hover {
	background-color: #006fdd;
}

#inscription {
	display: none;
	position: absolute;
	top: 0.1px;
	width: 100%;
	padding-bottom: 3%;
	padding-left: 6%;
	height: 450px;
	padding-top: 5px;
}

#backImg {
	position: absolute;
	width: 35px;
	height: 35px;
	left: 15px;
	top: 20px;
	cursor: pointer;
}


#inscription > input[type="text"] {
	padding: 8px;
	width:70%;
	border: none;
    border-bottom: 1px solid lightgrey;
    padding-top: 2%;
}

#inscription > input[type="email"] {
	padding: 8px;
	width:70%;
	border: none;
    border-bottom: 1px solid lightgrey;
    padding-top: 2%;
}

#inscription > input[type="password"] {
	padding: 8px;
	width:70%;
	border: none;
    border-bottom: 1px solid lightgrey;
    padding-top: 2%;
}

#inscription > input[type="submit"] {
	padding: 8px;
	width: 70%;
    border-radius: 4px;
    background-color: #0080ff;
    border: none;
    height: 40px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#inscription > input[type="submit"]:hover {
    background-color: #006fdd;
}

#inscription > label {
	display: block;
	width: 60%;
	color: #b2b2b2;
	text-align: left;
	margin-left: 15%;
}